create_standard_instance = true

standard_region        = "igl"
standard_instance_type = "v1_gpu_1x_a5000"
standard_username      = "ubuntu"
standard_template_name = "UBUNTU-22-04-NV"

backup_frequency = "daily"
backup_hour_utc  = 3
